body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER START */

.header {
  background-color: #282c34; /* Dark background */
  color: white; /* White text color */
  padding: 20px; /* Space inside the header */
  display: flex; /* Flexbox layout for the header */
  justify-content: space-between; /* Space between title and nav */
  align-items: center; /* Center items vertically */
}

h1 {
  margin: 0; /* Remove default margin */
  font-size: 1.8em; /* Larger font size */
  font-weight: bold; /* Make the title bold */
}


ul {
  list-style-type: none; /* Remove bullets from list */
  padding: 0; /* Remove padding from list */
  margin: 0; /* Remove margin from list */
  display: flex; /* Display links in a row */
}

li {
  margin-left: 20px; /* Space between links */
}

a {
  color: #61dafb; /* Light blue link color */
  text-decoration: none; /* Remove underline */
  font-weight: 500; /* Medium font weight */
  transition: color 0.3s; /* Smooth color transition on hover */
}

a:hover {
  color: #21a1f1; /* Change color on hover */
  text-decoration: underline; /* Underline on hover */
}

/* HEADER END */

/* FOOTER START */

.footer {
  background-color: #282c34; /* Dark background */
  color: white; /* White text color */
  padding: 20px; /* Space inside the footer */
  text-align: center; /* Center text */
  position: relative; /* Position relative for the footer */
}

.navigation_foot {
  margin-bottom: 10px; /* Space below the nav */
}

ul {
  list-style-type: none; /* Remove bullets from list */
  padding: 0; /* Remove padding from list */
  margin: 0; /* Remove margin from list */
  display: flex; /* Display links in a row */
  justify-content: center; /* Center the links */
}

li {
  margin: 0 15px; /* Space between links */
}

a {
  color: #61dafb; /* Light blue link color */
  text-decoration: none; /* Remove underline */
  font-weight: 500; /* Medium font weight */
  transition: color 0.3s; /* Smooth color transition on hover */
}

a:hover {
  color: #21a1f1; /* Change color on hover */
  text-decoration: underline; /* Underline on hover */
}

p {
  margin: 10px 0 0; /* Top margin for the copyright text */
  font-size: 0.9em; /* Smaller font size for copyright */
}

/* FOOTER END */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.main_admin {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  /* width: 100vw !important; */
  height: 100vw !important;
  overflow-x: hidden !important;
  box-sizing: border-box !important;
}